@media (prefers-color-scheme: light) {
  :root{
  --clr1: #f6f4f0;
  --clr2: #222222;
  }}

@media (prefers-color-scheme: dark) {
  :root{
  --clr1: #f6f4f0;
  --clr2: #222222;
  }}


.dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 13rem;
  background-color: var(--clr1);
}

.headerchild{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  width: 100%;
}

.imgcen{
  display: block;
  margin: auto;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  width: 20%;
}

.btnA{
  border-radius: 90px;
  width: 20rem;
  height: 3rem;
  font-size: 1.1rem;
  color: var(--clr2);
  background-color: rgba(0,0,0,0.0);
  border: 2.4px solid var(--clr2);
}
.btnA:hover{
  background-color: var(--clr2);
  color: var(--clr1);
  transition: all 0.8s ease;
}
.btnA:active{
  background-color: black;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  position: relative;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.productparent{
  width: 100%;
  gap: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product{
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.productimg{
  width: 20rem;
  height: 20rem;
  border-radius: 90px;
}
body{
  background-color: var(--clr1)
}
.newlogo{
  margin-bottom: 1rem;
  width: 50rem;
  z-index: 1;
}
.logo{
  animation: logofade 6s ease-in-out forwards;
  margin-top: -90rem;
  margin-bottom: 30rem;
}
 .video-bg{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  animation: fade 6s ease-in-out forwards;
  padding: 0%;
  margin-bottom: 20rem;
 }
 .video-bg video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
 }

.myVideo.paused {
  animation-play-state: paused;
}
  @keyframes fade {
    0% {opacity: 0;}
    5% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
  }
   html, body {
    margin: 0;
    padding: 0;
    height: 100%
  }
  @keyframes logofade {
    0% {opacity: 0;}
    30% {opacity: 0;}
    35% {opacity: 1;}
    100% {opacity: 1;}
  }
  .videoIntro{
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 3rem;
  }
  .drop{
    margin: auto;
    width: 60%;
    text-decoration: none;
  }
@media screen and (min-width: 1300px) and (max-width: 1600px) {
  .imgcen{
    width: 30%;
  }
  .btnA{
    width: 15rem;
  }
  .video-bg{
    margin-bottom: 40rem;
  }

  .logo{
    margin-bottom: 30rem;
  }
.newlogo {
  margin-bottom: 3rem;
}
}
@media screen and (min-width: 880px) and (max-width: 1300px){
  .imgcen{
    width: 35%;
  }
  .btnA{
    width: 12rem;
  }
  .headerchild{
    gap: 2rem;
  }
  .productparent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .newlogo{
    margin-bottom: 6rem;
  }
  .video-bg{
    margin-bottom: 50rem;
  }
  .logo{
    margin-top: -110rem;
    margin-bottom: 40rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 880px){
  .imgcen{
    width: 40%;
  }
  .btnA{
    width: 8rem;
  }
  .headerchild{
    gap: 2rem;
  }
  .productparent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .newlogo{
    width: 80vh;
  }
  .logo{
    margin-top: -130rem;
    margin-bottom: 50rem;
  }
}
@media screen and (min-width: 0px) and (max-width: 619px){
  .myVideo{
    height: 110000px;
  }
  .imgcen{
    width: 50%;
  }
  .btnA{
    width: 8rem;
  }
  .headerchild{
    gap: 0.25rem;
    flex-direction: column;
  }
  .header{
    height: 20rem;
  }
  .productparent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .newlogo {
    width: 100%;
  }
}